@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body {
font-family: 'Poppins', sans-serif;
}
.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.calculator-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.calculator-form {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-items: flex-start;
}

.form-row {
  display: grid;
  grid-template-columns: 16rem auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8rem;
}

.calculator-form label {
  text-align: left;
}


.calculator-form input {
  width: 10rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 3rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.result {
  text-align: center;
  font-weight: bold;

}

button {
  height: 3rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 10rem;
}

  .tooltip {
 position: relative;
    display: inline;
  }

  .tooltip .tooltip-text {
    visibility: hidden;

    width: 20rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 10%;
    transform: translateX(20%) translateY(100%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }